.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    background-color: black;
    height: 30vh;
    padding-bottom: 30px;
}
h1{
    grid-column: 1/span 3;
    color:white
}
.awesome{
    color:white;
    font-size: 30px;
}