.topic{
width: fit-content;
text-align: left;
font-weight: 500;
font-size:30px;
padding: 5px 20px;
background-color: #303952;
color: white;
margin-bottom: 20px;
margin-left: 0;
}
.click{
    width: 100px;
    margin: 5px auto;
    background-color: #273c75;
    border-radius:2px;
    cursor:pointer;
    color:white ;
    font-size:17px;
    padding:1px 1px;
    text-decoration:none;
}
.click:hover {
    background-color:#192a56;
}
.click:active {
     position:relative;
      top:1px;
}
.buttoncontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}