.container{
    margin-top:30px;
    display:grid;
    height:70vh;
    width:100%;
    background-image: linear-gradient(#3d3d3dc5,#3d3d3dc5),url('../images/everyweek.jpg');
    background-position: left;
  
}

.text1{
    align-self:start;
    color:#ff4757;
    text-align: center;
    font-size: 400%;
    font-weight: 700;
}